<!DOCTYPE html>
<html>
<head>
  <title>Administrador de Gastos</title>
  <link rel="stylesheet" href="./public">
</head>
<body>
  <h1>Bienvenido a tu Administrador de Gastos</h1>
  <a href="/gastos">Agregar dato.</a>
</body>
</html>
